<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartStock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECA618271F1BBDCA004FE7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECA6183E1F1BBDCB004FE7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECA618491F1BBDCB004FE7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
